<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

  <!-- LOGO -->
  <%= link_to user_root_path, class: "logo ml-4 logo-light" do %>
    <span class="text-white brand-text font-weight-bold">Hotel Insight CRM</span>
  <% end %>

  <div class="h-100" id="left-side-menu-container" data-simplebar>

    <!--- Sidemenu -->
    <ul class="metismenu side-nav">
      <% if can? :manage, User %>
        <li class="side-nav-item <%= controller?("user/home") ? 'mm-active' : '' %>">
          <%= link_to user_root_path, class: "side-nav-link #{controller?("user/home") ? 'active' : '' }" do %>
            <i class="uil-home-alt"></i>
            <span> ホーム </span>
          <% end %>
        </li>

        <!-- スタッフ管理 -->
        <li class="side-nav-item <%= controller?("user/staffs") ? 'mm-active' : '' %>">
          <%= link_to user_staffs_path, class: "side-nav-link #{controller?("user/staffs") ? 'active' : '' }" do %>
            <i class="uil-user-square"></i>
            <span> 営業担当管理 </span>
          <% end %>
        </li>
      <% end %>

      <li class="side-nav-title side-nav-item">1対1トーク</li>
      <!-- トーク -->
      <li class="side-nav-item <%= controller?("user/channels") ? 'mm-active' : '' %>">
        <%= link_to user_channels_path, class: "side-nav-link #{controller?("user/channels") ? 'active' : '' }" do %>
          <i class="uil-comments-alt"></i>
          <span> 個別トーク </span>
        <% end %>
      </li>

      <!-- 友達一覧 -->
      <li class="side-nav-item <%= controller?("user/friends") ? 'mm-active' : '' %>">
        <%= link_to user_friends_path, class: "side-nav-link #{controller?("user/friends") ? 'active' : '' }" do %>
          <i class="uil-users-alt"></i>
          <span> 友達一覧 </span>
        <% end %>
      </li>

      <% if can? :manage, User %>
        <li class="side-nav-title side-nav-item">メッセージ</li>
        <!-- シナリオ -->
        <li class="side-nav-item <%= controller?("user/scenarios", "user/scenario_messages") ? 'mm-active' : '' %>">
          <%= link_to user_scenarios_path, class: "side-nav-link #{controller?("user/scenarios", "user/scenario_messages") ? 'active' : '' }" do %>
            <i class="uil-sort-amount-down"></i>
            <span>シナリオ配信</span>
          <% end %>
        </li>

        <!-- 一斉配信 -->
        <li class="side-nav-item <%= controller?("user/broadcasts") ? 'mm-active' : '' %>">
          <%= link_to user_broadcasts_path, class: "side-nav-link #{controller?("user/broadcasts" ) ? 'active' : '' }" do %>
            <i class="uil-message"></i>
            <span>一斉配信</span>
          <% end %>
        </li>

        <!-- 自動応答 -->
        <li class="side-nav-item <%= controller?("user/auto_responses") ? 'mm-active' : '' %>">
          <%= link_to user_auto_responses_path, class: "side-nav-link #{controller?("user/auto_responses" ) ? 'active' : '' }" do %>
            <i class="uil-robot"></i>
            <span>自動応答</span>
          <% end %>
        </li>

        <!-- テンプレート -->
        <li class="side-nav-item <%= controller?("user/templates") ? 'mm-active' : '' %>">
          <%= link_to user_templates_path, class: "side-nav-link #{controller?("user/templates" ) ? 'active' : '' }" do %>
            <i class="uil-box"></i>
            <span> テンプレート</span>
          <% end %>
        </li>

        <!-- リッチメニュー -->
        <li class="side-nav-item <%= controller?("user/rich_menus") ? 'mm-active' : '' %>">
          <%= link_to user_rich_menus_path, class: "side-nav-link #{controller?("user/rich_menus" ) ? 'active' : '' }" do %>
            <i class="uil-th-large"></i>
            <span>リッチメニュー</span>
          <% end %>
        </li>

        <!-- 回答フォーム -->
        <li class="side-nav-item <%= controller?("user/surveys") ? 'mm-active' : '' %>">
          <%= link_to user_surveys_path, class: "side-nav-link #{controller?("user/surveys" ) ? 'active' : '' }" do %>
            <i class="uil-file-question-alt"></i>
            <span>回答フォーム</span>
          <% end %>
        </li>

      <!--  -->
        <li class="side-nav-item <%= controller?("user/reminders") ? 'mm-active' : '' %>">
          <%= link_to user_reminders_path, class: "side-nav-link #{controller?("user/reminders" ) ? 'active' : '' }" do %>
            <i class="uil-stopwatch"></i>
            <span>リマインダ配信</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item">予約管理</li>
         <!-- 空室待ち履歴 -->
        <li class="side-nav-item <%= controller?("user/reservations") ? 'mm-active' : '' %>">
          <%= link_to user_reservations_path, class: "side-nav-link #{controller?("user/reservations" ) ? 'active' : '' }" do %>
            <i class="uil-history"></i>
            <span>空室待ち履歴</span>
          <% end %>
        </li>
         <!-- 事前チェックイン -->
        <li class="side-nav-item <%= controller?("user/precheckins") ? 'mm-active' : '' %>">
          <%= link_to user_precheckins_path, class: "side-nav-link #{controller?("user/precheckins" ) ? 'active' : '' }" do %>
            <i class="uil-ticket"></i>
            <span>事前チェックイン</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item" hidden>サービス評価</li>
        <li class="side-nav-item <%= controller?("user/reviews") ? 'mm-active' : '' %>" hidden>
          <%= link_to user_reviews_path, class: "side-nav-link #{controller?("user/reviews" ) ? 'active' : '' }" do %>
            <i class="uil-star"></i>
            <span>サービス評価一覧</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item">URLクリック測定</li>
        <li class="side-nav-item <%= controller?("user/sites") ? 'mm-active' : '' %>">
          <%= link_to user_sites_path, class: "side-nav-link #{controller?("user/sites" ) ? 'active' : '' }" do %>
            <i class="uil-link"></i>
            <span>URLクリック測定一覧</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item">流入経路分析</li>
        <li class="side-nav-item <%= controller?("user/stream_routes") ? 'mm-active' : '' %>">
          <%= link_to user_stream_routes_path, class: "side-nav-link #{controller?("user/stream_routes" ) ? 'active' : '' }" do %>
            <i class="uil-enter"></i>
            <span>流入経路一覧</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item">友だち属性</li>
        <!-- タグ管理 -->
        <li class="side-nav-item <%= controller?("user/tags") ? 'mm-active' : '' %>">
          <%= link_to user_tags_path, class: "side-nav-link #{controller?("user/tags" ) ? 'active' : '' }" do %>
            <i class="uil-tag-alt"></i>
            <span>タグ管理</span>
          <% end %>
        </li>

        <!-- 友だち情報欄 -->
        <li class="side-nav-item <%= controller?("user/variables") ? 'mm-active' : '' %>">
          <%= link_to user_variables_path, class: "side-nav-link #{controller?("user/variables" ) ? 'active' : '' }" do %>
            <i class="uil-book-reader"></i>
            <span>友だち情報欄</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item">コンテンツ</li>
        <!-- 登録メディア一覧 -->
        <li class="side-nav-item <%= controller?("user/medias") ? 'mm-active' : '' %>">
          <%= link_to user_medias_path, class: "side-nav-link #{controller?("user/medias" ) ? 'active' : '' }" do %>
            <i class="uil-scenery"></i>
            <span>登録メディア一覧</span>
          <% end %>
        </li>

        <li class="side-nav-title side-nav-item">設定</li>
        <li class="side-nav-item <%= controller?("user/setting") ? 'mm-active' : '' %>">
          <%= link_to user_setting_index_path, class: "side-nav-link #{controller?("user/setting" ) ? 'active' : '' }" do %>
            <i class="uil-cog"></i>
            <span>アカウント設定</span>
          <% end %>
        </li>
      </ul>
    <% end %>
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->