<div>
  <div class="card">
    <div class="card-header d-flex">
      <h5 class="m-auto font-weight-bold">アカウント情報</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped index">
        <thead>
          <tr>
            <th>項目</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>表示名</th>
            <td><%= @line_account.display_name %></td>
          </tr>
          <tr>
            <th>LINEアカウント名</th>
            <td><%= @line_account.line_name %></td>
          </tr>
          <tr>
            <th>LINE公式アカウントID</th>
            <td><%= @line_account.line_user_id %></td>
          </tr>
          <tr>
            <th>LIFF ID</th>
            <td><%= @line_account.liff_id.blank? ? '未設定' : @line_account.liff_id %></td>
          </tr>
          <tr>
            <th>PMS APIキー</th>
            <td><%= @line_account.pms_api_key.blank? ? '未設定' : @line_account.pms_api_key %></td>
          </tr>
          <tr>
            <th>チャネルID</th>
            <td><%= @line_account.channel_id %></td>
          </tr>
          <tr>
            <th>チャネルシークレット</th>
            <td><%= @line_account.channel_secret %></td>
          </tr>
          <tr>
            <th>Webhook URL</th>
            <td>
              <input-with-copy text="<%= "#{ENV['MIX_ROOT_PATH']}/webhooks/#{@line_account.webhook_url}" %>"></input-with-copy>
            </td>
          </tr>
          <tr>
            <th>有効友だち数</th>
            <td><%= @line_account.line_friends.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer d-flex">
      <%= link_to edit_user_setting_index_path, class: "btn btn-success btm-sm fw-120" do %>
        編集
      <% end %>
    </div>
  </div>
</div>
